<div class="header-window" id="join-tab">
  <img src="https://lh3.googleusercontent.com/d/1aSD2twqAQs2bGFZmC3dFFfPD4KlmVcRj=w1000?authuser=0" alt="Josef and Rose looking out a window." />
  <div class="container">
    <h1 class="xl-txt fancy-font">Join us for our marriage on:</h1>
    <p class="md-txt fancy-font">6/30/2025</p>
    <a class="md-txt button">Tour Venue</a>
  </div>
</div>

<div id="quote-container" class="quotes">
  <h1 id="quote-text" class="fancy-font xl-txt"></h1>
  <p id="quote-author" class="md-txt subtext"></p>
</div>
