:root {
  --rosie: #fe938c;
  --blue: #3c91e6;
  --white: #fdfff7;
  --clearWhite: rgba(253, 255, 247, 0.6);
  --black: #0c1821;
  --blackLight: #1b2a41;
  --surface: red; /* Consider using a more descriptive variable name */
}

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
  height: 8px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--blackLight); /* color of the thumb */
  border-radius: 90px; /* roundness of the thumb */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: var(--white);
  border-radius: 0; /* or border-radius: unset; */
}

/* Optional: Style the scrollbar corners */
::-webkit-scrollbar-corner {
  background-color: var(--white); /* color of the corners */
}

::-webkit-scrollbar-track:horizontal{
  background-color: var(--white);
}
::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--blackLight);
}

.rose, .josef {
  transition: .8s ease;
}
.rose {
  color: var(--rosie);
}
.josef {
  color: var(--blue);
}

/* General Styles */
body {
  margin: 0;
  background-color: var(--white);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Typography */
.fancy-font {
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

.xs-txt { font-size: 0.8rem; }
.sm-txt { font-size: 1rem; }
.md-txt { font-size: 1.2rem; }
.lg-txt { font-size: 1.5rem; }
.xl-txt { font-size: 1.8rem; }
.xxl-txt { font-size: 2.3rem; }

.mobile-show {
  display: none;
}
.mobile-hide {
  display: block;
}

@media (max-width: 700px) {
  nav {
    .mobile-hide {
      display: none;
    }
    .mobile-show {
      display: block;
    }
  }

  .header-window {
    padding: 150px 0;
    flex-direction: column;
    height: 40vh;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &:hover {
        cursor: default;
      }
    }

    img {
      border-bottom-left-radius: 180px;
      border-bottom-right-radius: 180px;
    }
  }
}
